@import "~sass-variables";

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    .addCustomContainer {
        display: flex;
        align-items: center;

        h2 {
            color: $purple;
            font-weight: 800;
            font-size: 1.6rem;
            margin-right: 1rem;
        }

        button {
            color: $white;
            font-weight: 700;
            font-size: 0.9rem;
            border: 5px solid $blue;
            background: $blue;
            border-radius: 10px;
            padding: 3px 1.7rem;
            cursor: pointer;

            &:hover {
                background: $purple;
                border-color: $purple;
            }
        }
    }

    .searchButton {
        color: $purple;
        font-weight: 700;
        font-size: 0.9rem;
        border: 5px solid $purple;
        background: transparent;
        border-radius: 50px;
        padding: 4px 1rem;
        text-align: center;        
    }

    .presetsButton{
        color: $white;
        font-weight: 700;
        font-size: 1rem;
        border: 5px solid $blue;
        background: $blue;
        border-radius: 15px;
        padding: 3px 0;
        cursor: pointer;
        margin: 0 10px;
        width: 150px;

        &:hover {
            background: $purple;
            border-color: $purple;
        }
    }
}

.plantsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.plantModalContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.plantContainer {
    width: 100%;
    height: 100%;
    background: $blue;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 30px;
    position: relative;

    .plantHoverText {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background: rgba($yellow, 0.7);

        button {
            color: $white;
            font-weight: 700;
            font-size: 1.5rem;
            border: 5px solid $blue;
            background: $blue;
            border-radius: 15px;
            padding: 0px 3rem;
            min-width: 200px;
            cursor: pointer;
            margin: 0 10px;

            &:hover {
                background: $purple;
                border-color: $purple;
            }
        }
    }    
}

.plantImage {
    background: $white;
    border-radius: 30px;
    flex: 1;
    height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 100%;
        max-height: 200px;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.plantInfoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    h3,
    h4,
    h5 {
        color: $white;
    }

    h3 {
        font-weight: 700;
        font-size: 1.3rem;
    }

    h4 {
        font-size: 0.75rem;
        font-weight: 700;
        margin: 6px 0;
    }

    h5 {
        font-size: 0.75rem;
    }

    input {
        border: none;
        border-radius: 12px;
        color: $blue;
        font-weight: 600;
        margin-bottom: 10px;
        padding: 7px 15px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    button{
        color: $blue;
        font-weight: 800;
        font-size: 0.6rem;
        text-transform: uppercase;
        border: none;
        background: $white;
        border-radius: 35px;
        padding: 0.6rem 0 0.5rem 0;
        cursor: pointer;
        margin: 0 0 1rem;
        width: 100px;
    }
}

.modalImageContainer{
    flex: 1 1;
    position: relative;
    .modalImage {
        background: $white;
        border-radius: 30px;
        height: 200px;
        text-align: center;
        display: flex;    
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        img{
            max-height: 100%;
            max-width: 100%;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.plantsContainer{
    .inputContainer {
        flex: 2 1;
    }
}

.plantModalContainer{
    .inputContainer {
        flex: 2 1;
    }
}

.inputContainer {
    h5{
        font-weight: 700;
    }

    input,
    textarea {
        border: none;
        border-radius: 12px;
        color: $blue;
        font-weight: 600;
        margin-bottom: 5px;
        padding: 7px 15px;
        width: 100%;

        &:focus {
            border: none;
            outline: none;
        }
    }

    small{
        color: $white;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-bottom: 0;
        margin-left: 10px;
        border-radius: 12px;
    }

    button {
        color: $white;
        font-weight: 700;
        font-size: 1.2rem;
        border: 5px solid $blue;
        background: $blue;
        border-radius: 50px;
        padding: 8px 3rem;
        min-width: 300px;
        display: block;
        margin: auto;
        cursor: pointer;

        &:hover {
            background: $purple;
        }
    }
}

.errorText {
    color: $red;
    font-weight: bold;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .plantsContainer {
        display: grid;
        .plantContainer{
            width: 100%;
            display: block;
        }
    }
    .plantImage{
        height: 150px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .headerContainer{
        display: block;
        text-align: center;
        .addCustomContainer {
            justify-content: center;
        }
        .searchButton {
            margin-top: 1rem;
            max-width: 100%;
        }
    }
    .plantsContainer {
        display: block;
        .plantContainer{
            margin-bottom: 1rem;
        }
    }
    .plantContainer {
        .plantHoverText {
            flex-direction: column;
            button {
                margin: 0.5rem 0;
                font-size: 1rem;
                background: $blue;
            }
        }
    }
}