$black: #2e2e2e;
$white: #ffffff;
$grey: #707070;
$lightGrey: #818181;
$blueGrey: #7d8491;

$blue: #505168;
$darkBlue: #2f3540;
$blueGrey: #7d8491;
$yellow: #eaf0ce;
$yellow1: #FFD700;
$darkYellow: #c6cea2;
$purple: #443850;
$green: #6da558;
$red: #ce4a4a;
